.hero-image__title {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  z-index: 3;
  color: #3D4F9F;
  margin: auto;
}