.hero-image__bg {
  background-image: url("../../../images/chart.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-size: contain;
  margin-top: 6.4%;
}