.stat__number {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 83px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-top: 24px;
}