.menu__links {
list-style: none;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: capitalize;
margin-left: 73px;
}

.menu__links_place_footer {
    position: relative;
}

@media screen and (max-width: 1023px) {
    .menu__links {
    margin-left: 35px;
    }
}

@media screen and (max-width: 768px) {
    .menu__links {
        margin-left: 10px;
        }
}

@media screen and (max-width: 375px) {
    .menu__links {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
        }
}