.table__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600px;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;
    margin: 0;
    margin-top: 25px;
}